@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(232, 248, 255);
  height: fit-content;
}

header {
  color: rgb(4, 60, 112);
}

a {
  text-decoration: none;
  color: rgb(4, 60, 112);
}

header a:hover {
  text-decoration: underline;
  color: rgb(14, 114, 207);
}

div.top {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  font-size: 80%;
  padding-top: 20px;
}

span.language {
  margin-left: 15%;
}

span.consales {
  margin-left: 4%;
}

.sicon {
  width: 1.5%;
  margin-left: 40%;
}

.login {
  margin-left: 1%;
}

.csupport {
  margin-left: 1%;
}

.about {
  margin-left: 2%;
}

.top span {
  vertical-align: top;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.space {
  display: inline-block;
}

.down {
  transform: rotate(45deg);
}

.ntop {
  background-color: white;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 575;
}

.ntop span {
  display: inline;
  vertical-align: middle;
}

.logo {
  margin-left: 14%;
  width: 8%;
}

.software {
  margin-left: 5%;
  font-size: 110%;
}

.price {
  margin-left: 3.25%;
  font-size: 110%;
}

.resources {
  margin-left: 3.25%;
  font-size: 110%;
}

.subscription span {
  background-color: rgb(252, 99, 120);
  color: white;
  border: 10px solid rgb(252, 99, 120);
  border-left: 20px solid rgb(252, 99, 120);
  border-right: 20px solid rgb(252, 99, 120);
  border-radius: 4px;
  margin-left: 25%;
  font-size: 90%;
  font-weight: 700;
  text-align: center;
}

.subscription:hover {
  text-decoration: none;
  color: white;
}

.subscription:hover span {
  background-color: rgb(252, 152, 166);
  border-color: rgb(252, 152, 166);
}